<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>account</title>
    <th:block th:include="layout/header" />
    <link th:href="@{/css/account.css}" rel="stylesheet" />

</head>
<th:block layout:fragment="content_body">
<body>
<div class="wrapper">
    <th:block th:replace="layout/topMenu" />
</div>
<br>
<br>
<!--table-->
<div class="container mt-3">
    <h3>List Account</h3>

    <button title="ADD NEW ACCOUNT" type="button" class="btn btn-outline-light text-dark" onclick="showModal('add') "><i class="fa-solid fa-user-plus fa-beat" style="color: #1f2551;"></i></button>

    <table class="table table-hover">
    <thead class="table-success">
    <tr>
        <td>id</td>
        <td >username</td>
        <td>email</td>
        <td>full name</td>
        <td>role</td>
        <td></td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>

</body>

<!-- The Modal save -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">INFORMATION ACCOUNT</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <form  th:action="@{/home/showAccount/addAccount}" >
                        <div class="mb-3 mt-3">
                            <label for="username" class="form-label">username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="email" class="form-label">email</label>
                            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="password" class="form-label">password</label>
                            <input type="text" class="form-control" id="password" placeholder="Enter password" name="password">
                        </div>
                            <div class="mb-3 mt-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="text" class="form-control" id="confirmPassword" placeholder="Enter confirm password" name="confirmPassword">
                            </div>
                        <div class="mb-3 mt-3">
                            <label for="fullName" class="form-label">fullName</label>
                            <input type="text" class="form-control" id="fullName" placeholder="Enter fullName" name="fullName">
                        </div>
                        <div class="searchField">
                            <div class="label">
                                ROLE
                            </div>
                            <select class="field" id="role" >
                                <option value="USER">USER</option>
                                <option value="ADMIN">ADMIN</option>
                            </select>
                        </div>
                        <br>
                        <button type="button" id="save" class="btn btn-primary">SAVE</button>
                    </form>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!--    delete-->
    <div class="modal" id="deleteConfirmationModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this account?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="deleteConfirmBtn">Yes</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="content_script">
    <script th:src="@{/js/account.js}"></script>
</th:block>
</html>
