<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" title="Home"><i class="fa-brands fa-napster fa-flip" style="color: #511f46;"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" >
                    <a class="nav-link" href="/listAccount" sec:authorize="hasAuthority('ADMIN')">Account Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/music">Music List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/album">Album</a>
                </li>

            </ul>
            <form class="d-flex">
                <input  id="musicNameInput" class="form-control me-2" type="text" placeholder="Search">
                <button id="searchButton" class="btn btn-primary" type="button">Search</button>
            </form>
            <ul class="nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="currentUsername" href="#" role="button" data-bs-toggle="dropdown" th:text="${#authentication.principal.username}"><i class="fa-solid fa-user"></i>Account</a>
                    <ul class="dropdown-menu" style="left: 0px; right: inherit;">
                        <li><a class="dropdown-item" href="/Logout">log out</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>