/* Styling for the modal */


/* Center the modal on the screen */
.modal-dialog {
    position: relative;
    margin: auto;
    max-width: 800px;
}

/* Styling for the modal content */
.modal-content {
    background-color: #f8f9fa;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 20px;
}
/* Styling the dropdown container */
.field {
    display: inline-block;
    position: relative;
    width: 150px; /* Adjust the width as needed */
    font-family: Arial, sans-serif;
}

/* Styling the dropdown arrow */
.field::after {
    content: '\25BC'; /* Unicode for downward arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Styling the dropdown options */
.field select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Removes default arrow in some browsers */
}

/* Styling individual options on hover */
.field option:hover {
    background-color: #f2f2f2;
}


/* Styling for the modal header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


