.body{
    position: relative;
}
/* CSS cho .wrapper */
.wrapper {
    padding-top: 60px; /* Đảm bảo không gian cho navbar cố định ở trên */
}

/* CSS cho .navbar */
.navbar {
    z-index: 1000; /* Đảm bảo navbar luôn hiển thị trên top của các thành phần khác */
}

/* CSS cho .navbar-expand-sm */
.navbar-expand-sm {
    flex-direction: column; /* Chỉnh flex direction để các mục nav nằm dọc theo cột */
}

/* CSS cho .navbar-nav */
.navbar-nav {
    flex-direction: column; /* Sắp xếp các mục nav dọc theo cột */
}
#tblMusic {
    margin-top: 70px; /* Tạo không gian giữa bảng và nội dung trên */
}
#upload {
    margin-top: 30px; /* Tạo không gian giữa bảng và nội dung trên */
}
#updateUpload {
    margin-top: 30px; /* Tạo không gian giữa bảng và nội dung trên */
}
