.search-table td {
    background: url("/images/blackpink.jpg") no-repeat 0 14px;

}
.search-table td {
    background: url("/images/jennie.jpg") no-repeat 0 14px;

}
.search-table td {
    background: url("/images/rose.jpg") no-repeat 0 14px;

}
.search-table td {
    background: url("/images/lisaa.jpg") no-repeat 0 14px;

}
.search-table td {
    background: url("/images/jisoo.jpg") no-repeat 0 14px;

}
.carousel-item img {
    width: 100%;
    object-fit: cover; /* Đảm bảo hình ảnh điền đầy khung, không bị kéo dãn */
}
.carousel-caption h3 {
    font-size: 24px;
    color: #ffffff;
}

.carousel-caption p {
    font-size: 16px;
    color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ffffff; /* Màu icon của nút điều hướng */
}

.carousel-indicators .active {
    background-color: #ffffff; /* Màu background của indicator cho slide hiện tại */
}
