body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #1db954;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.form-group button:hover {
    background-color: #168c3b;
}

.form-group button:focus {
    outline: none;
}

/* Style for error message */
.error-message {
    color: #d63031;
    font-size: 14px;
    margin-top: 5px;
}

/* Style for success message */
.success-message {
    color: #1db954;
    font-size: 14px;
    margin-top: 5px;
}
