<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
    <th:block th:include="layout/header" />
    <link th:href="@{/css/album.css}" rel="stylesheet" />
</head>
<th:block layout:fragment="content_body">
<body>

<div class="wrapper">
    <th:block th:replace="layout/topMenu" />
</div>
<br>
<br>
<div class="container mt-3">
    <h2>ALBUM<i class="fa-solid fa-compact-disc fa-spin"></i></h2>
    <p><strong>Note:</strong></p>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#collapseOne" id="fetchDataButton1">
                    TOP KPOP
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="container mt-3">
                        <h3>Kpop</h3>
                        <br>
                        <table class="table table-hover">
                            <thead class="table-success">
                            <tr>
                                <td>Music Name</td>
                                <td>Artist</td>
                                <td>Category Name</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody id="musicTableBody1">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo" id="fetchDataButton2">
                    TOP VPOP
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="container mt-3">
                        <h3>Vpop</h3>
                        <br>
                        <table class="table table-hover">
                            <thead class="table-success">
                            <tr>
                                <td>Music Name</td>
                                <td>Artist</td>
                                <td>Category Name</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody id="musicTableBody2">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree" id="fetchDataButton3">
                    TOP US-UK
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                <div class="card-body">
                    <div class="container mt-3">
                        <h3>US-UK</h3>
                        <br>
                        <table class="table table-hover">
                            <thead class="table-success">
                            <tr>
                                <td>Music Name</td>
                                <td>Artist</td>
                                <td>Category Name</td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody id="musicTableBody3">
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--    modal-->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Listening... </h4>
                    <i class="fa-solid fa-headphones fa-fade"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="player">
                        <!-- Dashboard -->
                        <div class="dashboard">
                            <!-- Header -->
                            <header>
                                <h4>Now playing:</h4>
                                <h2 id="musicTitle">String 57th & 9th</h2>
                            </header>

                            <!-- CD -->
                            <div class="cd">
                                <div class="cd-thumb cd-spin" data-img-src=""></div>
                            </div>

                            <!-- Control -->
                            <div class="control">
                                <div class="btn btn-repeat">
                                    <i class="fas fa-redo"></i>
                                </div>
                                <div class="btn btn-prev">
                                    <i class="fas fa-step-backward"></i>
                                </div>
                                <div class="btn btn-toggle-play" id="playPauseButton" data-img-src="" >
                                    <i class="fa-solid fa-play fa-beat" style="display: none;"></i>
                                    <i class="fa-solid fa-pause "></i>
                                </div>
                                <div class="btn btn-next">
                                    <i class="fas fa-step-forward"></i>
                                </div>
                                <div class="btn btn-random">
                                    <i class="fas fa-random"></i>
                                </div>
                            </div>

                            <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">

                            <audio id="audio" src=""></audio>


                        </div>
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content_script">
    <script th:src="@{/js/music/album.js}"></script>
</th:block>
</html>