<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Music</title>
    <th:block th:include="layout/header" />
    <link th:href="@{/css/editMusic.css}" rel="stylesheet" />
</head>
<th:block layout:fragment="content_body">
<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="wrapper">
        <th:block th:replace="layout/topMenu" />
    </div>
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#section1">Add Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section2">Update Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#section3">Delete Music</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>

<table class="table table-hover" id="tblMusic">
    <thead class="table-success">
    <tr>

        <td>id</td>
        <td >Music Name</td>
        <td>Artist</td>
        <td>Category Name</td>
        <td>audio_file_path</td>
        <td>img_file_path</td>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
    <br>
<div class="container-fluid">
<div id="section1" class="container-fluid bg-success text-white" style="padding:100px 20px;">

    <h3> add new song <i class="fa-solid fa-music"></i></h3>
    <form   action="/" method="post">
        <div class="mb-3 mt-3">
            <label for="musicName" class="form-label">musicName</label>
            <input type="text" class="form-control" id="musicName" placeholder="Enter musicName" name="musicName">
        </div>
        <div class="mb-3 mt-3">
            <label for="artist" class="form-label">artist</label>
            <input type="text" class="form-control" id="artist" placeholder="Enter artist" name="artist">
        </div>
        <div class="mb-3 mt-3">
            <label for="imgFilePath" class="form-label">imgFilePath</label>
            <input type="text" class="form-control" id="imgFilePath" placeholder="Enter imgFilePath" name="imgFilePath">
        </div>
        <div class="searchField">
            <div class="label">
                Category Name
            </div>
            <select class="field" id="category" >
                <option value="1">KPOP</option>
                <option value="2">VPOP</option>
                <option value="3">US-UK</option>
            </select>
        </div>

        <br>
        <button type="button" id="save" class="btn btn-primary">Submit</button>
    </form>
    <div id="upload">
        <form method="post" action="/upload" enctype="multipart/form-data" onsubmit="handleFileUpload(event)">
            <input type="file" name="file" />
            <button type="submit" title="upload"><i class="fa-solid fa-upload" style="color: #1f2251;"></i></button>
        </form>
    </div>


</div>


</div>

<div class="container-fluid">
<div id="section2" class="container-fluid bg-warning" style="padding:100px 20px;">

    <h3> Update song <i class="fa-solid fa-music"></i></h3>
    <form  th:action="@{/home/showAccount/addAccount}" method="post">
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">id</label>
            <input type="text" class="form-control" id="id" placeholder="Enter id" name="id">
        </div>
        <div class="mb-3 mt-3">
            <label for="musicName" class="form-label">musicName</label>
            <input type="text" class="form-control" id="updateMusicName" placeholder="Enter musicName" name="musicName">
        </div>
        <div class="mb-3 mt-3">
            <label for="artist" class="form-label">artist</label>
            <input type="text" class="form-control" id="updateArtist" placeholder="Enter artist" name="artist">
        </div>

        <div class="mb-3 mt-3">
            <label for="imgFilePath" class="form-label">imgFilePath</label>
            <input type="text" class="form-control" id="UpdateImgFilePath" placeholder="Enter imgFilePath" name="imgFilePath">
        </div>
        <div class="searchField">
            <div class="label">
                Category Name
            </div>
            <select class="field" id="UpdateCategory" >
                <option value="1">KPOP</option>
                <option value="2">VPOP</option>
                <option value="3">US-UK</option>
            </select>
        </div>
        <br>
        <button type="button" id="update" class="btn btn-primary">Submit</button>
    </form>
    <div id="updateUpload">
        <form method="post" action="/upload" enctype="multipart/form-data" onsubmit="handleFileUpload(event)">
            <input type="file" name="file" />
            <button type="submit" title="upload"><i class="fa-solid fa-upload" style="color: #1f2251;"></i></button>
        </form>
    </div>
</div>
</div>
<div class="container-fluid">
<div id="section3" class="container-fluid bg-secondary text-white" style="padding:100px 20px;">
    <form   method="post">
        <h3> Delete song <i class="fa-solid fa-ban"></i></h3>
    <div class="mb-3 mt-3">
        <label for="id" class="form-label">Id</label>
        <input type="text" class="form-control" id="deleteById" placeholder="Enter id" name="id">
    </div>
    </form>
    <button type="button" id="delete" class="btn btn-danger">Delete</button>
</div>
</div>
</body>
</th:block>
<th:block layout:fragment="content_script">
    <script th:src="@{/js/music/edit-music.js}"></script>
</th:block>
</html>