<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Music player</title>
<th:block th:include="layout/header" />
<link th:href="@{/css/music.css}" rel="stylesheet" />

<th:block layout:fragment="content_body">
<body>
<div class="wrapper">
    <th:block th:replace="layout/topMenu" />
</div>
<br>
<br>


<div class="container mt-3">
    <h3>List Music</h3>
    <div sec:authorize="hasAuthority('ADMIN')">
        <button type="button" class="btn btn-light"><a  href="/edit-music">Edit Music</a></button>
    </div>
<br>
    <table class="table table-hover">
        <thead class="table-success">
        <tr>

            <td >Music Name</td>
            <td>Artist</td>
            <td>Category Name</td>
            <td></td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>
</body>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Listening... </h4>
                    <i class="fa-solid fa-headphones fa-fade"></i>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="player">
                        <!-- Dashboard -->
                        <div class="dashboard">
                            <!-- Header -->
                            <header>
                                <h4>Now playing:</h4>
                                <h2 id="musicTitle">String 57th & 9th</h2>
                            </header>

                            <!-- CD -->
                            <div class="cd">
                                <div class="cd-thumb cd-spin" data-img-src=""></div>
                            </div>

                            <!-- Control -->
                            <div class="control">
                                <div class="btn btn-repeat">
                                    <i class="fas fa-redo"></i>
                                </div>
                                <div class="btn btn-prev">
                                    <i class="fas fa-step-backward"></i>
                                </div>
                                <div class="btn btn-toggle-play" id="playPauseButton" data-img-src="" >
                                    <i class="fa-solid fa-play fa-beat" style="display: none;"></i>
                                    <i class="fa-solid fa-pause "></i>
                                </div>
                                <div class="btn btn-next">
                                    <i class="fas fa-step-forward"></i>
                                </div>
                                <div class="btn btn-random">
                                    <i class="fas fa-random"></i>
                                </div>
                            </div>

                            <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">

                            <audio id="audio" src=""></audio>


                        </div>
                    </div>


                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="content_script">
    <script th:src="@{/js/music/music-index.js}"></script>
</th:block>
