<!DOCTYPE html>
<html
        layout:decorate="~{layout/defaultLayout}"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <th:block th:include="layout/header" />
    <link th:href="@{/css/home.css}" rel="stylesheet" />
</head>
<th:block  layout:fragment="content_body">
<body>

<div class="wrapper">
    <th:block th:replace="layout/topMenu" />
</div>
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">



    <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img  src="/images/blackpink.jpg" alt="blackpink" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>BlackPink</h3>
                <p>BlackPink in your area</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/rose.jpg" alt="rose" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Rosé</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/jisoo.jpg" alt="jisoo" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Jisoo</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/lisaa.jpg" alt="lisa" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Lisa</h3>
                <p></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/images/jennie.jpg" alt="jennie" class="d-block" style="width:100%">
            <div class="carousel-caption">
                <h3>Jennie</h3>
                <p></p>
            </div>
        </div>
    </div>
</div>
</body>
</th:block>
<th:block layout:fragment="content_script">
    <script th:src="@{/js/home.js}"></script>
</th:block>
</html>