<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>Sign In</title>
    <th:block th:include="layout/header" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<th:block layout:fragment="content_body">
<body>
<div class="container">
    <h2>SIGN IN</h2>
    <form id="loginPost" th:action="@{/loginProc}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="login">Sign In</button>
        </div>

    </form>
    <div class="form-group">
        <a href="/registration">Sign Up</a>
    </div>
</div>

</body>
</th:block>
<th:block layout:fragment="content_script">
    <script th:src="@{/js/login.js}"></script>
</th:block>
</html>