<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <th:block th:include="layout/header" />
    <link th:href="@{/css/registration.css}" rel="stylesheet" />


</head>
<th:block layout:fragment="content_body">
<body>
<div class="container">
    <h2> REGISTRATION </h2>
    <form  th:action="@{/registration}" method="post">
        <div class="mb-3 mt-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="mb-3 mt-3">
            <label for="password" class="form-label">password</label>
            <input type="text" class="form-control" id="password" placeholder="Enter password" name="password">
        </div>
        <div class="mb-3 mt-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="text" class="form-control" id="confirmPassword" placeholder="Enter confirm password" name="confirmPassword">
        </div>
        <div class="mb-3 mt-3">
            <label for="fullName" class="form-label">fullName</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter fullName" name="fullName">
        </div>

        <button type="button" id="save" class="btn btn-primary" > Registration </button>

        <button type="button"  class="btn btn-primary"><a href="/login" class="login-link">Login</a> </button>



    </form>
</div>
</body>
</th:block>

<th:block layout:fragment="content_script">
    <script th:src="@{/js/registration.js}"></script>
</th:block>

</html>